opencv-python
psutil
pyautogui
playsound==1.2.2
comtypes
AppOpener
pynput
pycaw
datetime
pyaudio
pywin32
wikipedia-api
pvporcupine
customtkinter
Pillow
gtts
speechrecognition
comtypes
pycaw
wikipedia
pywin32
browser-use==0.1.29
pyperclip==1.9.0
gradio==5.10.0
json-repair
langchain-mistralai==0.2.4
auto-py-to-exe
pyinstaller
